{{- if .Values.azureStorageQueue.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mqtrigger-azure-storage-queue
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    svc: mqtrigger
    messagequeue: azure-storage-queue
spec:
  replicas: 1
  selector:
    matchLabels:
      svc: mqtrigger
      messagequeue: azure-storage-queue
  template:
    metadata:
      labels:
        svc: mqtrigger
        messagequeue: azure-storage-queue
    spec:
      containers:
      - name: mqtrigger
      {{- if eq .Values.imageTag "" }}
        image: "{{ .Values.image }}"
      {{- else }}
        image: "{{ .Values.image }}:{{ .Values.imageTag }}"
      {{- end }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        command: ["/fission-bundle"]
        args: ["--mqt", "--routerUrl", "http://router.{{ .Release.Namespace }}"]
        env:
        - name: MESSAGE_QUEUE_TYPE
          value: azure-storage-queue
        - name: AZURE_STORAGE_ACCOUNT_NAME
          value: {{ required "An Azure storage account name is required." .Values.azureStorageQueue.accountName }}
        - name: AZURE_STORAGE_ACCOUNT_KEY
          valueFrom:
            secretKeyRef:
              name: azure-storage-account-key
              key: key
        - name: DEBUG_ENV
          value: {{ .Values.debugEnv | quote }}
        - name: PPROF_ENABLED
          value: {{ .Values.pprof.enabled | quote }}
        {{- include "opentracing.envs" . | indent 8 }}
        {{- include "opentelemtry.envs" . | indent 8 }}
      serviceAccountName: fission-svc
{{- if .Values.extraCoreComponentPodConfig }}
{{ toYaml .Values.extraCoreComponentPodConfig | indent 6 -}}
{{- end }}
{{- end }}