# Binaries
cmd/fission-bundle/fission-bundle
cmd/fission-cli/fission
cmd/fission-cli/fission-cli
cmd/fetcher/fetcher
cmd/builder/builder
cmd/preupgradechecks/pre-upgrade-checks
cmd/reporter/reporter
dist-local
# Logs
test/logs/
test/e2e/cli/fission-dump/

# Pycharm IDE
.idea
environments/php7/vendor/

# terraform files
.terraform/
*.tfstate
*.backup

# Common backup files
*.swp
*.bak
*.tmp
*~
*.tgz

.DS_Store
vendor/
local/

build/
dist/
manifest/
.vscode/
coverage.txt

cosign.key

# Dumps
.dumps/
