apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-secret-configmap-getter
rules:
  - apiGroups:
      - "*"
    resources:
      - secrets
      - configmaps
    verbs:
      - get
      - watch
      - list

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Release.Name }}-package-getter
rules:
  - apiGroups:
      - "*"
    resources:
      - packages
    verbs:
      - "*"
  - apiGroups:
      - rbac.authorization.k8s.io
    resources:
      - rolebindings
    verbs:
      - "*"
