#
# Fission chart configuration
#

## Kubernetes configuration
## For minikube, set this to NodePort, elsewhere use LoadBalancer or ClusterIP.
serviceType: ClusterIP

## For minikube, set this to NodePort, elsewhere use LoadBalancer or ClusterIP.
routerServiceType: LoadBalancer

## Image base repository
## Leave it empty for using existing local image
repository: index.docker.io

## Fission image repository
image: fission/fission-bundle

## Fission image version
imageTag: 1.9.0

## Image pull policy
pullPolicy: IfNotPresent

## Port at which Fission controller service should be exposed
controllerPort: 31313

## Port at which Fission router service should be exposed
routerPort: 31314

## Namespace in which to run fission functions (this is different from
## the release namespace)
functionNamespace: fission-function

## Namespace in which to run fission builders (this is different from
## the release namespace)
builderNamespace: fission-builder

## Enable istio integration
enableIstio: false

fetcher:
  ## Fetcher repository
  image: fission/fetcher
  ## Fetcher image version
  imageTag: 1.9.0
  
  ## Fetcher is only for to downloading or uploading archive.
  ## Normally, you don't need to change the value here, unless necessary.
  resource:
    cpu:
      requests: "10m"
      ## Low CPU limits will increases the function specialization time.
      limits: ""
    mem:
      requests: "16Mi"
      limits: ""

executor:
  adoptExistingResources: false

## Router config
router:
  deployAsDaemonSet: false
  svcAddressMaxRetries: 5
  svcAddressUpdateTimeout: 30s
  
  ## Display endpoint access logs
  ## To be aware of enabling logging endpoint access log, it increases
  ## router resource utilization when under heavy workloads.
  displayAccessLog: false
  
  ## Add annotations for router
  # svcAnnotations:
  #   cloud.google.com/load-balancer-type: Internal
  
  ## For router to match encoded path.
  ## If true, "/foo%2Fbar" will match the path "/{var}";
  ## Otherwise, it will match the path "/foo/bar".
  useEncodedPath: false
  
  roundTrip:
    ## If true, router will disable the HTTP keep-alive which result in performance degradation.
    ## But it ensures that router can redirect new coming requests to new function pods.
    ##
    ## If false, router will enable transport keep-alive feature for better performance.
    ## However, the drawback is it takes longer to switch to newly created function pods
    ## if using newdeploy as executor type for function. If you want to preserve the
    ## performance while keeping the short switching time to new function, you can create
    ## an environment with short grace period by setting flag "--graceperiod" (default 360s),
    ## so that kubernetes will be able to reap old function pod quickly.
    ##
    ## For details, see https://github.com/fission/fission/issues/723
    disableKeepAlive: true

    ## The keep-alive period for an active network connection to function pod.
    keepAliveTime: 30s

    ## HTTP transport request timeout
    timeout: 50ms

    ## The length of request timeout will multiply with timeoutExponent after each retry
    timeoutExponent: 2

    ## Max retries times of a failed request
    maxRetries: 10

  ## Sample with a rate per time window (traces/second)
  traceSamplingRate: 0.5

## Persist data to a persistent volume.
persistence:
  ## If true, fission will create/use a Persistent Volume Claim unless storageType is set to s3
  ## If false, use emptyDir
  ##
  enabled: true

  ## Must be set to either local or S3.
  ## If storateType is set(other than local), one of its backend configuration must be set as below.
  #storageType: local | s3

  ## Sample configruation for AWS s3 storage backend
  # s3:
  #   bucketName: <awsBucketName>
  #   subDir: <sub directory within a bucket>
  #   accessKeyId: <awsAccessKeyId>
  #   secretAccessKey: <awsSecretAccessKey>
  #   region: <awsRegion>

  ## A manually managed Persistent Volume Claim name
  ## Requires persistence.enabled: true
  ## If defined, PVC must be created manually before volume will be bound
  ##
  # existingClaim:

  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner. (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  # storageClass: "-"

  accessMode: ReadWriteOnce
  size: 8Gi

## Extend the container specs for the core fission pods. 
## Can be used to add things like affinty/tolerations/nodeSelectors/etc.
## For example:
## extraCoreComponentPodConfig:
##   affinity:
##     nodeAffinity:
##       requiredDuringSchedulingIgnoredDuringExecution:
##         nodeSelectorTerms:
##           - matchExpressions:
##             - key: capability
##               operator: In
##               values:
##                 - app
#extraCoreComponentPodConfig:
#  affinity:
#  tolerations:
#  nodeSelector:

## Analytics let us count how many people installed fission. Set to
## false to disable analytics.
analytics: true

## Internally used for generating an analytics job for non-helm installs
analyticsNonHelmInstall: false

## Archive pruner is a garbage collector for archives on the fission storage service.
## This interval configures the frequency at which it runs inside the storagesvc pod.
## The value is in minutes.
pruneInterval: 60

## Fission pre-install/pre-upgrade checks live in this image
preUpgradeChecksImage: fission/pre-upgrade-checks

## if there are any pod specialization errors when a function is triggered and this flag is set to true, the error
## summary is returned as part of http response
debugEnv: false

## Prometheus for scrapping service metrics
prometheus:
  ## set this flag to true if prometheus needs to be deployed along with fission
  enabled: false
  
  ## If enabled is false, please assign the prometheus service URL
  ## that is accessible by components.
  serviceEndpoint: ""

## set this flag to false if you dont need canary deployment feature
canaryDeployment:
  enabled: false

# Use these flags to enable opentracing, the variable is endpoint of Jaeger collector in the format shown below
#traceCollectorEndpoint: "http://jaeger-collector.jaeger.svc:14268/api/traces?format=jaeger.thrift"
#traceSamplingRate: 0.75
