#
# Fission chart configuration
# 

## Kubernetes configuration
## For minikube, set this to NodePort, elsewhere use LoadBalancer.
serviceType: LoadBalancer

## Fission image repository
image: fission/fission-bundle

## Fission image version
imageTag: 0.4.0

## Image pull policy
pullPolicy: IfNotPresent

## Fission fetcher repository
fetcherImage: fission/fetcher

## Fission fetcher image version
fetcherImageTag: 0.4.0

## Port at which Fission controller service should be exposed
controllerPort: 31313

## Port at which Fission router service should be exposed
routerPort: 31314

## Namespace in which to run fission functions (this is different from
## the release namespace)
functionNamespace: fission-function

## Namespace in which to run fission builders (this is different from
## the release namespace)
builderNamespace: fission-builder

## Set up openshift RBAC rule
openshift: false
  
## Persist data to a persistent volume.
persistence:
  enabled: true
  ## If defined, volume.beta.kubernetes.io/storage-class: <storageClass>
  ## Default: volume.alpha.kubernetes.io/storage-class: default
  ##
  # storageClass:
  accessMode: ReadWriteOnce
  size: 8Gi

## Analytics let us count how many people installed fission. Set to
## false to disable analytics.
analytics: true
