#
# Fission chart configuration
# 

## Kubernetes configuration
## For minikube, set this to NodePort, elsewhere use LoadBalancer.
serviceType: LoadBalancer

## Fission image repository
image: fission/fission-bundle

## Fission image version
imageTag: v0.2.0-20170822

## Image pull policy
pullPolicy: IfNotPresent

## Fission fetcher repository
fetcherImage: fission/fetcher

## Fission fetcher image version
fetcherImageTag: v0.2.0-20170822

## Port at which Fission controller service should be exposed
controllerPort: 31313

## Port at which Fission router service should be exposed
routerPort: 31314

## Namespace in which to run fission functions (this is different from
## the release namespace)
functionNamespace: fission-function

## Storage path for storage service
storagePath: /tmp

## Set up openshift RBAC rule
openshift: false
