apiVersion: apps/v1
kind: Deployment
metadata:
  name: buildermgr
  labels:
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    svc: buildermgr
spec:
  replicas: 1
  selector:
    matchLabels:
      svc: buildermgr
  template:
    metadata:
      labels:
        svc: buildermgr
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "8080"
    spec:
      {{- if .Values.buildermgr.securityContext.enabled }}
      securityContext: {{- omit .Values.buildermgr.securityContext "enabled" | toYaml | nindent 8 }}
      {{- end }}
      containers:
      - name: buildermgr
        image: {{ include "fission-bundleImage" . | quote }}
        imagePullPolicy: {{ .Values.pullPolicy }}
        command: ["/fission-bundle"]
        args: ["--builderMgr", "--storageSvcUrl", "http://storagesvc.{{ .Release.Namespace }}"]
        env:
        - name: FETCHER_IMAGE
        {{- if eq .Values.fetcher.imageTag "" }}
          value: "{{ .Values.fetcher.image }}"
        {{- else }}
          value: "{{ .Values.fetcher.image }}:{{ .Values.fetcher.imageTag }}"
        {{- end }}
        - name: FETCHER_IMAGE_PULL_POLICY
          value: "{{ .Values.pullPolicy }}"
        - name: BUILDER_IMAGE_PULL_POLICY
          value: "{{ .Values.pullPolicy }}"
        - name: FISSION_BUILDER_NAMESPACE
          value: "{{ .Values.builderNamespace }}"
        - name: FISSION_FUNCTION_NAMESPACE
          value: "{{ .Values.functionNamespace }}"
        - name: FISSION_DEFAULT_NAMESPACE
          value: "{{ .Values.defaultNamespace }}"
        - name: ENABLE_ISTIO
          value: "{{ .Values.enableIstio }}"
        - name: FETCHER_MINCPU
          value: {{ .Values.fetcher.resource.cpu.requests | quote }}
        - name: FETCHER_MINMEM
          value: {{ .Values.fetcher.resource.mem.requests | quote }}
        - name: FETCHER_MAXCPU
          value: {{ .Values.fetcher.resource.cpu.limits | quote }}
        - name: FETCHER_MAXMEM
          value: {{ .Values.fetcher.resource.mem.limits | quote }}
        - name: DEBUG_ENV
          value: {{ .Values.debugEnv | quote }}
        - name: PPROF_ENABLED
          value: {{ .Values.pprof.enabled | quote }}
        - name: HELM_RELEASE_NAME
          value: {{ .Release.Name | quote }}
        {{- include "fission-resource-namespace.envs" . | indent 8 }}
        {{- include "opentelemtry.envs" . | indent 8 }}
        {{- if .Values.builderPodSpec.enabled }}
        volumeMounts:
        - name: builder-podspec-patch-volume
          mountPath: /etc/fission/builder-podspec-patch.yaml
          subPath: builder-podspec-patch.yaml
          readOnly: true
        {{- end }}
        ports:
          - containerPort: 8080
            name: metrics
        resources:
          {{- toYaml .Values.buildermgr.resources | nindent 10 }}
        {{- if .Values.terminationMessagePath }}
        terminationMessagePath: {{ .Values.terminationMessagePath }}
        {{- end }}
        {{- if .Values.terminationMessagePolicy }}
        terminationMessagePolicy: {{ .Values.terminationMessagePolicy }}
        {{- end }}
      serviceAccountName: fission-buildermgr
      {{- if .Values.builderPodSpec.enabled }}
      volumes:
      - name: builder-podspec-patch-volume
        configMap:
          name: builder-podspec-patch
      {{- end }}
{{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
{{- end }}
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
{{- if .Values.extraCoreComponentPodConfig }}
{{ toYaml .Values.extraCoreComponentPodConfig | indent 6 -}}
{{- end }}