apiVersion: cert-manager.io/v1 
kind: Issuer  
metadata:  
  name: selfsigned-issuer  
  namespace: {{ .Release.Namespace }}  
spec:  
  selfSigned: {}  
---  
apiVersion: cert-manager.io/v1  
kind: Certificate  
metadata:  
  name: fission-cert  
  namespace: {{ .Release.Namespace }}  
spec:  
  secretName: fission-certs  
  dnsNames:  
    - "webhook-service.{{ .Release.Namespace }}.svc"  
    - "webhook-service.{{ .Release.Namespace }}.svc.cluster.local " 
  issuerRef:  
    name: selfsigned-issuer