def main():
	path = "/secrets/default/{{ FN_SECRET }}/TEST_KEY"
	path1 = "/secrets/default/{{ FN_SECRET1 }}/TEST_KEY1"
	f = open(path, "r")
	data = f.read()
	#print()
	f1 = open(path1, "r")
	data1 = f1.read()

	return data+"-"+data1, 200
