name: Create Draft release
on:
  push:
    tags:
      - v1.**
      - v2.**

env:
  KIND_VERSION: v0.30.0
  KIND_NODE_IMAGE_TAG: v1.28.15
  KIND_CLUSTER_NAME: kind
  COSIGN_VERSION: v3.0.2

jobs:
  create-draft-release:
    name: Create Draft Release with Goreleaser
    outputs:
      hashes: ${{ steps.binary.outputs.hashes }}
      ghcr_images: ${{ steps.image.outputs.ghcr_images }}
      version: ${{ steps.get_version.outputs.VERSION }}
    permissions:
      contents: write # for goreleaser/goreleaser-action to create a GitHub release
      packages: write # for goreleaser/goreleaser-action to upload artifacts to GitHub Packages
      id-token: write # for cosign to sign the image and binary
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Get the version
        id: get_version
        run: echo "VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_OUTPUT

      - name: Install GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          install-only: true
          version: "~> v2"

      - name: Kind Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0
        with:
          node_image: kindest/node:${{ env.KIND_NODE_IMAGE_TAG }}
          version: ${{ env.KIND_VERSION }}
          config: kind.yaml
          cluster_name: ${{ env.KIND_CLUSTER_NAME }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}

      - name: Check cosign install!
        run: cosign version

      - uses: anchore/sbom-action/download-syft@fbfd9c6c189226748411491745178e0c2017392d #v0.20.10

      - name: Generate yaml for manifest, Minikube and Openshift installation
        run: ${GITHUB_WORKSPACE}/hack/build-yaml.sh $VERSION
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
        shell: bash

      - name: Run GoReleaser
        id: goreleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        with:
          version: "~> v2"
          args: release
        env:
          GORELEASER_CURRENT_TAG: ${{ steps.get_version.outputs.VERSION }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCKER_CLI_EXPERIMENTAL: "enabled"

      - name: Generate binary hashes
        id: binary
        env:
          ARTIFACTS: "${{ steps.goreleaser.outputs.artifacts }}"
        run: |
          set -euo pipefail

          checksum_file=$(echo "$ARTIFACTS" | jq -r '.[] | select (.type=="Checksum") | .path')
          echo "hashes=$(cat $checksum_file | base64 -w0)" >> "$GITHUB_OUTPUT"

      - name: Image digest
        id: image
        env:
          ARTIFACTS: "${{ steps.goreleaser.outputs.artifacts }}"
        run: |
          set -euo pipefail
          image_and_digest=$(echo "$ARTIFACTS" | jq -r '.[] | select (.type=="Docker Manifest") | {name, "digest": (.extra.Digest // .extra.Checksum)} | select(.digest) | {name} + {digest} | join("@") | sub("^sha256:";"")' | grep -v latest)
          ghcr_images=$(echo "${image_and_digest}" | grep ghcr.io | jq -R -s -c '
            split("\n")
            | map(select(. != ""))
            | map(
                split("@")
                | {
                    "image": .[0] | split(":")[0],
                    "checksum": .[1]
                  }
              )')
          echo "ghcr_images=$ghcr_images" >> "$GITHUB_OUTPUT"

  binary-provenance:
    name: Create Binary Provenance
    needs: [create-draft-release]
    permissions:
      actions: read # To read the workflow path.
      id-token: write # To sign the provenance.
      contents: write # To add assets to a release.
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0  # Do not use commit hash
    with:
      base64-subjects: "${{ needs.create-draft-release.outputs.hashes }}"
      provenance-name: "fission_${{ needs.create-draft-release.outputs.version }}.intoto.jsonl"
      upload-assets: true # upload to a new release
      draft-release: true # create a draft release

  image-provenance-ghcr:
    name: Create Image Provenance
    needs: [create-draft-release]
    strategy:
      matrix:
        include: ${{ fromJson(needs.create-draft-release.outputs.ghcr_images) }}
    permissions:
      actions: read
      id-token: write
      packages: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0 # Do not use commit hash
    with:
      image: ${{ fromJson(toJson(matrix)).image }}
      digest: ${{ fromJson(toJson(matrix)).checksum }}
      registry-username: ${{ github.actor }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}

  image-sbom-ghcr:
    name: Create SBOM for container images
    # Goreleaser does not support generating SBOM for container images.
    needs: [create-draft-release]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include: ${{ fromJson(needs.create-draft-release.outputs.ghcr_images) }}
    permissions:
      actions: write
      id-token: write
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Trivy in fs mode to generate SBOM
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # v0.33.1
        with:
          scan-type: "fs"
          format: "spdx-json"
          output: "spdx.sbom.json"
      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}
      - name: Sign image and sbom
        env:
          IMAGE: ${{ fromJson(toJson(matrix)).image }}
          DIGEST: ${{ fromJson(toJson(matrix)).checksum }}
        run: |
          #!/usr/bin/env bash
          set -euo pipefail
          cosign attach sbom --sbom spdx.sbom.json $IMAGE@$DIGEST
          cosign sign -a git_sha=$GITHUB_SHA --attachment sbom $IMAGE@$DIGEST --yes

  binary-provenance-verification-with-slsa-verifier:
    name : Verify Binary Provenance
    needs: [create-draft-release, binary-provenance]
    runs-on: ubuntu-24.04
    permissions:
      contents: write # To download the assets from draft release.
    steps:
      - name: Install the verifier
        uses: slsa-framework/slsa-verifier/actions/installer@ea584f4502babc6f60d9bc799dbbb13c1caa9ee6 # v2.7.1

      - name: Download assets
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROVENANCE: ${{ needs.binary-provenance.outputs.provenance-name }}
          VERSION: ${{ needs.create-draft-release.outputs.version }}
        run: |
          set -euo pipefail
          echo "repo=$GITHUB_REPOSITORY"
          echo "ref=$VERSION"
          gh -R "$GITHUB_REPOSITORY" release download "$VERSION" -p "$PROVENANCE"

      - name: Verify assets
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHECKSUMS: ${{ needs.create-draft-release.outputs.hashes }}
          PROVENANCE: ${{ needs.binary-provenance.outputs.provenance-name }}
          VERSION: ${{ needs.create-draft-release.outputs.version }}
        run: |
          set -euo pipefail
          echo "CHECKSUMS=$CHECKSUMS"
          echo "PROVENANCE=$PROVENANCE"
          checksums=$(echo "$CHECKSUMS" | base64 -d)
          while read -r line; do
              fn=$(echo $line | cut -d ' ' -f2)
              echo "Verifying $fn"
              gh -R "$GITHUB_REPOSITORY" release download "$VERSION" -p "$fn"
              slsa-verifier verify-artifact --provenance-path "$PROVENANCE" \
                                            --source-uri "github.com/$GITHUB_REPOSITORY" \
                                            --source-tag "$VERSION" \
                                            "$fn"
          done <<<"$checksums"

  image-provenance-verification-with-cosign:
    name: Verify Image Provenance
    needs: [create-draft-release, image-provenance-ghcr]
    strategy:
      matrix:
        include: ${{ fromJson(needs.create-draft-release.outputs.ghcr_images) }}
    runs-on: ubuntu-24.04
    permissions: read-all
    steps:
      - name: Login
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
        with:
          cosign-release: ${{ env.COSIGN_VERSION }}

      - name: Verify image
        env:
          IMAGE: ${{ fromJson(toJson(matrix)).image }}
          DIGEST: ${{ fromJson(toJson(matrix)).checksum }}
        run: |
          echo "Verifying $IMAGE@$DIGEST"
          cosign verify-attestation \
             --type slsaprovenance \
             --certificate-oidc-issuer https://token.actions.githubusercontent.com \
             --certificate-identity-regexp '^https://github.com/slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@refs/tags/v[0-9]+.[0-9]+.[0-9]+$' \
             $IMAGE@$DIGEST