apiVersion: v1
kind: Service
metadata:
  name: prometheus 
  namespace: default
  labels:
    app: prometheus
spec:
  type: NodePort
  ports:
  - name: prometheus
    port: 9090
    targetPort: 9090
  selector:
    app: prometheus

